<h2>Cálculo de ISR</h2>
<p>Calcularemos ISR quincenal</p>

<form class="row g-3">
    <div class="col-auto">
      <!-- <label for="ingreso" >Ingreso bruto quincenal</label> -->
      <input type="number" class="form-control" id="ingreso" placeholder="Ingreso">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Calcular</button>
    </div>
</form>

<div class="card">
    <div class="card-body">
      <h5 class="card-title">Cálculo</h5>
      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
      <div class="row">
          <div class="col-auto">
              Ingreso gravable
          </div>
          <div class="col-auto" id="ingresogravable"></div>
      </div>
      <div class="row">
          <div class="col-auto">
              Límite inferior
          </div>
          <div class="col-auto" id="limiteinferior"></div>
      </div>
      <div class="row">
          <div class="col-auto">
              Diferencia
          </div>
          <div class="col-auto" id="diferencia"></div>
      </div>
      <div class="row">
          <div class="col-auto">
              Tasa
          </div>
          <div class="col-auto" id="tasa"></div>
      </div>
      <div class="row">
          <div class="col-auto">
              Impuesto marginal
          </div>
          <div class="col-auto" id="impuestomarginal"></div>
      </div>
      <div class="row">
          <div class="col-auto">
              Cuota fija
          </div>
          <div class="col-auto" id="cuotafija"></div>
      </div>
      <div class="row">
          <div class="col-auto">
              Impuesto previo
          </div>
          <div class="col-auto" id="impuestoprevio"></div>
      </div>
      <div class="row">
          <div class="col-auto">
              Subsidio
          </div>
          <div class="col-auto" id="subsidio"></div>
      </div>
      <div class="row">
          <div class="col-auto" id="lblimpuestoretener">
              Impuesto a retener
          </div>
          <div class="col-auto" id="impuestoretener"></div>
      </div>
      <div class="row">
          <div class="col-auto">
              Ingreso final
          </div>
          <div class="col-auto" id="ingresofinal"></div>
      </div>
    </div>
  </div>